<div class='row' data-ng-controller='EpisodesController'>
  <div id='episode-list-container'>
    <ul id='episode-list'>
      <li data-ng-repeat='episode in episodes'>
        <h3 data-ng-class='{active: $index == selectedRow}' data-ng-click='selectEpisode(episode, $index)'>{{ episode.title }} <small>({{ episode.duration }})</small></h3>
      </li>
    </ul>
  </div>
  <div id='episode-view-container'>
    <div id='episode-view' data-ng-show='selectedEpisode'>
      <h2>{{ selectedEpisode.title }}</h2>
      <p>{{ selectedEpisode.description }}</p>
      <div flow-player='' id='player'></div>
    </div>
  </div>
</div>
